{% comment %}
------------------------------------------------------------------------------
  Section: Featured collection
  - This the main section that you should be working on
  - Main styling is done in /styles/sections/featured-collection.scss
------------------------------------------------------------------------------
{% endcomment %}

<section class="featured-collection" data-section-id="{{ section.id }}" data-section-type="featured-collection">
    <!-- Pop Up that shows up when a user adds an item to the cart -->
    <div class="order-confirmation hide">
        <div class="order-confirmation__box fadeIn">
            <span class="order-confirmation__close">X</span>
            <h1>Order Confirmed</h1>
            <p>We have added <span class="order-confirmation__time"></span> to your cart</p>
            <img class="order-confirmation__img" src="https://cdn.shopify.com/s/files/1/0065/8240/3161/products/10746_25684-23831_900x_43ac0852-a13d-4f4e-bc82-ffbda8f2ac96_large.jpg?v=1539859260"/>
        </div>
    </div>
    
  {%- assign collection = collections[section.settings.collection] -%}

  <div class="container">
      <div class="row">
          <div class="col xs12">
              <h2>
                  {{ collection.title | escape }}
              </h2>

              <p class="subheading">
                  {{ collection.description }}
              </p>

              <!-- Slider -->
              <div class="swiper-container">
                  <div class="swiper-wrapper">
                      {% for product in collection.products limit: 8 %}
                          {% assign current_variant = product.selected_or_first_available_variant %}

                          <!-- looking through the tags to see if it contains a sale -->
                          {% assign sale_variable = false %}
                          {% for tag in product.tags %}
                              {% if tag contains "sale" %}
                                  {% assign sale_variable = true %}
                              {% endif %}
                          {% endfor %}
                          
                          {% if sale_variable == true %}
                              <a class="product-card swiper-slide product-card__sale" href="{{ product.url | within: collection }}">
                          {% else %}
                              <a class="product-card swiper-slide" href="{{ product.url | within: collection }}">
                          {% endif %}
                              <div>
                                  <div class="sale">
                                      {% if product.featured_image != blank %}
                                          {{ product.featured_image | img_url: 'large' | img_tag }}
                                      {% endif %}
                                    <span class="product-card__add-to-cart" data-quantity="1" data-variant-id="{{ current_variant.id }}" js-ajax-cart="addToCart">
                                        Add to cart
                                    </span>
                                </div>
                              </div>

                              <div class="product-card__name-price">
                                  <p>{{ product.title | escape }}</p>

                                  <span>
                                      {% include 'product-price' %}
                                  </span>
                              </div>
                          </a>
                      {% endfor %}

                  </div>
                  <div class="swiper-pagination"></div>
                  <div class="swiper-button-prev desktop"></div>
                  <div class="swiper-button-next desktop"></div>

              </div>

              <div></div>
          <div class="button__view-collection">
              View collection
          </div>
      </div>
  </div>
</section>

{% schema %}

{
    "name": "Featured collection",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Featured collection"
        }, {
            "id": "collection",
            "type": "collection",
            "label": "Collection"
        }
    ],
    "presets": [
        {
            "name": "Featured collection",
            "category": "Collection"
        }
    ]
}

{% endschema %}
