{% comment %}
------------------------------------------------------------------------------
  Section: Featured collection
  - This the main section that you should be working on
  - Main styling is done in /styles/sections/featured-collection.scss
------------------------------------------------------------------------------
{% endcomment %}

<section class="featured-collection" data-section-id="{{ section.id }}" data-section-type="featured-collection">
  <script>
      // adding the swiper js script and stylinng
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = 'https://unpkg.com/swiper/swiper-bundle.js';    

      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.href = 'https://unpkg.com/swiper/swiper-bundle.min.css';  

      document.querySelector('head').appendChild(script);
      document.querySelector('head').appendChild(link);

      // a function that waits before an element appears before executing a function
      var waitForElement = function(element, cb){
          var time = setInterval(function(){
              if(document.querySelector(element)){
                  clearInterval(time);
                  cb();
              }
          }, 100);       

      }

    //The new instance of Swiper had a timing issue. The script took too long to load
      // so I start the instance after some time has passed to allow the script to run

      setTimeout(function(){
          //Starting a new instance of Swiper
          var mySwiper = new Swiper('.swiper-container', {
              direction: 'horizontal',
              loop: true,
              slidesPerView: 1,
              pagination: {
                  el: '.swiper-pagination',
                  clickable: true
              },
              breakpoints: {
                  768: {
                      slidesPerView: 2,
                      spaceBetweenSlides: 22
                  },
                  1024: {
                      slidesPerView: 3,
                      spaceBetweenSlides: 22
                  },
                  1328: {
                      slidesPerView: 4,
                      spaceBetweenSlides: 22
                  }
              },
              navigation: {
                  nextEl: '.swiper-button-next',
                  prevEl: '.swiper-button-prev',
              }
          });
      },700);

      // This function is checking what products are on sale
          //if the product is on sale then it will clean the pricing string to only have the price
          //and it also inserts the 'sale' tag in the top right of the image
          
      waitForElement('.product-card__name-price span', function(){
          var prices = document.querySelectorAll('.product-card__name-price span');
          for(var i = 0; i < prices.length; i++){
              if(prices[i].innerHTML.indexOf('Sale') > -1){
                  if(prices[i].innerHTML.indexOf('from') > -1){
                      prices[i].innerHTML = prices[i].innerHTML.split("from").pop();
                  } else{
                      prices[i].innerHTML = prices[i].innerHTML.split("Sale").pop();
                  }
              }
          }
          var products = document.querySelectorAll('.product-card__sale');
          for(var i = 0; i < products.length; i++){
              products[i].querySelector('div.sale').insertAdjacentHTML('afterbegin', '<div class="button__sale">Sale</div>');
          }

      });
</script>

  {%- assign collection = collections[section.settings.collection] -%}

  <div class="container">
      <div class="row">
          <div class="col xs12">
              <h2>
                  {{ collection.title | escape }}
              </h2>

              <p class="subheading">
                  {{ collection.description }}
              </p>

              <!-- Slider -->
              <div class="swiper-container">
                  <div class="swiper-wrapper">
                      {% for product in collection.products limit: 8 %}
                          {% assign current_variant = product.selected_or_first_available_variant %}

                          <!-- looking through the tags to see if it contains a sale -->
                          {% assign sale_variable = false %}
                          {% for tag in product.tags %}
                              {% if tag contains "sale" %}
                                  {% assign sale_variable = true %}
                              {% endif %}
                          {% endfor %}
                          
                          {% if sale_variable == true %}
                              <a class="product-card swiper-slide product-card__sale" href="{{ product.url | within: collection }}">
                          {% else %}
                              <a class="product-card swiper-slide" href="{{ product.url | within: collection }}">
                          {% endif %}
                              <div>
                                  <div class="sale">
                                      {% if product.featured_image != blank %}
                                          {{ product.featured_image | img_url: 'large' | img_tag }}
                                      {% endif %}
                                  </div>
                                  <span class="product-card__add-to-cart" data-quantity="1" data-variant-id="{{ current_variant.id }}" js-ajax-cart="addToCart">
                                      Add to cart
                                  </span>
                              </div>

                              <div class="product-card__name-price">
                                  <p>{{ product.title | escape }}</p>

                                  <span>
                                      {% include 'product-price' %}
                                  </span>
                              </div>
                          </a>
                      {% endfor %}

                  </div>
                  <div class="swiper-pagination"></div>
                  <div class="swiper-button-prev desktop"></div>
                  <div class="swiper-button-next desktop"></div>

              </div>

              <div></div>
          <div class="button__view-collection">
              View collection
          </div>
      </div>
  </div>
</section>

{% schema %}

{
    "name": "Featured collection",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Featured collection"
        }, {
            "id": "collection",
            "type": "collection",
            "label": "Collection"
        }
    ],
    "presets": [
        {
            "name": "Featured collection",
            "category": "Collection"
        }
    ]
}

{% endschema %}
